<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row mb-2">
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="What to do?" v-model="todoForm.title">
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary float-end" @click.prevent="createTodo"
                    :disabled="processing || !todoForm.title">New List
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="accordion" id="accordion-todo">
          <div class="accordion-item" v-for="todo in todos" :key="todo.id">
            <h2 class="accordion-header" :id="`heading-${todo.id}`">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      :data-bs-target="`#collapse-${todo.id}`" :aria-controls="`collapse-${todo.id}`">
                <input class="form-check-input me-3" type="checkbox" :id="`task-${todo.id}`"
                       :checked="todo.status === 'completed'" v-model="todo.checked" @change="updateTodo(todo)">
                {{ todo.title }}
                <span class="text-muted ms-1">({{ todo.completed }} of {{ todo.subtasks.length }} completed)</span>
              </button>
            </h2>
            <div :id="`collapse-${todo.id}`" class="accordion-collapse collapse"
                 :aria-labelledby="`heading-${todo.id}`" data-bs-parent="#accordion-todo">
              <div class="accordion-body">
                <ul class="list">
                  <li class="list-item" v-for="task in todo.subtasks" :key="task.id">
                    <input class="form-check-input me-3" type="checkbox" :id="`todo-${todo.id}-task-${task.id}`"
                           :checked="task.status === 'completed'" v-model="task.checked"
                           @change="updateTask(todo, task)">
                    {{ task.title }}
                  </li>
                  <li class="list-item">
                    <div class="row">
                      <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="What are the steps?"
                               v-model="todo.taskForm.title">
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-primary float-end" @click.prevent="createTask(todo)"
                                :disabled="processing || !todo.taskForm.title">New Step
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'App',
  data() {
    return {
      tasks: [],
      todoForm: {
        title: ''
      },
      processing: false
    }
  },
  computed: {
    todos() {
      return this.tasks
    }
  },
  methods: {
    getAll() {
      window.axios.get(`/list`).then(result => {
        const {data} = result
        this.tasks = data.map(task => {
          task.checked = task.status === 'completed'
          task.completed = task.subtasks.filter(subtask => subtask.status === 'completed').length
          task.subtasks = task.subtasks.map(subtask => {
            subtask.checked = subtask.status === 'completed'
            return subtask
          })
          task.taskForm = {title: ''}
          return task
        })
      })
    },
    createTodo() {
      this.processing = true
      window.axios.post(`/todos`, this.todoForm).then(result => {
        const {data} = result
        data.checked = data.status === 'completed'
        data.subtasks = data.subtasks.map(subtask => {
          subtask.checked = subtask.status === 'completed'
          return subtask
        })
        data.completed = data.subtasks.filter(subtask => subtask.status === 'completed').length
        data.taskForm = {title: ''}
        this.tasks = [...this.tasks, data]
        this.todoForm = {title: ''}
        window.toastr.success('Todo created successfully.')
        this.processing = false
      }).catch(error => {
        this.processing = false
        window.toastr.error(error)
      })
    },
    updateTodo(todo) {
      const {id, checked} = todo
      window.axios.put(`/todos/${id}/update`, {status: checked ? 'completed' : 'pending'})
          .then(result => {
            const {data} = result
            todo.subtasks = data.subtasks.map(subtask => {
              subtask.status = data.status
              subtask.checked = data.status === 'completed'
              return subtask
            })
            todo.taskForm = {title: ''}
            todo.completed = todo.subtasks.filter(subtask => subtask.status === 'completed').length
            const index = window._.findIndex(this.tasks, {id: todo.id})
            this.tasks.splice(index, 1, todo)
            window.toastr.success('Todo status updated successfully.')
          })
          .catch(error => {
            window.toastr.error(error)
          })
    },
    updateTask(todo, task) {
      const {id, todoId, checked} = task
      window.axios.put(`/subtasks/${todoId}/update/${id}`, {status: checked ? 'completed' : 'pending'})
          .then(result => {
            const {data} = result
            data.checked = data.status === 'completed'
            const innerIndex = window._.findIndex(todo.subtasks, {id: task.id})
            todo.subtasks.splice(innerIndex, 1, data)
            todo.completed = todo.subtasks.filter(subtask => subtask.status === 'completed').length
            window.axios.put(`/todos/${todoId}/update`, {status: checked ? 'completed' : 'pending'})
                .then(() => {
                  todo.checked = todo.subtasks.length === todo.subtasks.filter(subtask => subtask.status === 'completed').length
                  const index = window._.findIndex(this.tasks, {id: todo.id})
                  this.tasks.splice(index, 1, todo)
                  window.toastr.success('Task status updated successfully.')
                })
          })
          .catch(error => {
            window.toastr.error(error)
          })
    },
    createTask(todo) {
      this.processing = true
      const {id, taskForm, subtasks} = todo
      window.axios.post(`/subtasks/${id}/create`, taskForm).then(result => {
        const {data} = result
        todo.taskForm = {title: ''}
        todo.subtasks = [...subtasks, data].map(subtask => {
          subtask.checked = subtask.status === 'completed'
          return subtask
        })
        todo.completed = todo.subtasks.filter(subtask => subtask.status === 'completed').length
        const index = window._.findIndex(this.tasks, {id: todo.id})
        this.tasks.splice(index, 1, todo)
        this.todoForm = {title: ''}
        window.toastr.success('Task added successfully.')
        this.processing = false
      }).catch(error => {
        this.processing = false
        window.toastr.error(error)
      })
    }
  },
  mounted() {
    // this.create()
    this.getAll()

  }
}
</script>

<style lang="scss">
@import '@/assets/scss/app'
</style>
