@import '~bootstrap/scss/bootstrap';
@import '~toastr/toastr';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  // Overrides
  .form-check-input[type=checkbox] {
    border-radius: 0 !important;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-bottom;
  }

  .accordion-button, .form-check-input {
    &:focus {
      box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
    }
  }

  .list {
    list-style: none;
    padding-left: 0;
    border: 1px solid #cad1d7;
    border-radius: 3px;
    .list-item {
      text-align: left;
      padding: 0.75rem 1rem;
      &:not(:last-child) {
        border-bottom: 1px solid #cad1d7;
      }
    }
  }